@import 'https://fonts.googleapis.com/css?family=Roboto';
body {
    font-family: 'Roboto', Verdana;
    background: #5C258D;
    background: -webkit-linear-gradient(to left, #5C258D, #4389A2);
    background: linear-gradient(to left, #5C258D, #4389A2);
}

.todo {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background: #F7F7F7;
    margin: 100px auto;
    width: 360px;
}

.todo__header {
    text-transform: uppercase;
    background: #2980B9;
    font-weight: normal;
    padding: 10px 20px;
    font-size: 24px;
    color: white;
    margin: 0;
}

.todo__header .fa-plus {
    float: right;
}

.todo__input {
    font-size: 18px;
    color: #2980B9;
    background: #F7F7F7;
    width: 100%;
    padding: 13px 13px 13px 20px;
    box-sizing: border-box;
    border: 3px solid rgba(0, 0, 0, 0);
}

.todo__input:focus {
    background: white;
    border: 3px solid #2980B9;
    outline: none;
}

.todo__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.todo__item {
    background: #FFFFFF;
    height: 40px;
    line-height: 40px;
    color: #666;
}

.todo__item:nth-child(2n) {
    background: #F7F7F7
}

.todo__item--completed {
    color: gray;
    text-decoration: line-through;
}

.todo__remove {
    transition: 0.2s linear;
    display: inline-block;
    background: #E74C3C;
    margin-right: 20px;
    text-align: center;
    color: white;
    height: 40px;
    width: 0;
    opacity: 0;
}

.todo__item:hover .todo__remove {
    width: 40px;
    opacity: 1;
}
